<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Ejemplo</title>
</head>
<body>

    <div class="contenedor">

        <header>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Registrase</a>
                <a href="#">Salir</a>
            </nav>
        </header>

            <main>
                <div class="imagen">
                    <img src="img/1.jpg" alt="prueba">
                </div>
                <section>
                    <article>
                        <h2>Se buscan campeones</h2>
                        <p>Por tiempo limitado, disfruta de descuentos especiales en las ediciones Base, Heroic y Epic de Shadowlands, y vive la épica conclusión de la saga de las Tierras Sombrías con la actualización de contenido Fin de la Eternidad.</p>
                    </article>

                    <article>
                        <h2>Un amiguito purrfecto </h2>
                        <p>Este mágico felino de ojos verde esmeralda y cola de zorrillo puede llevarte por todo Azeroth sin el menor esfuerzo. Pero lo que a él le gusta es estar donde brilla el sol entre las hojas otoñales...</p>
                    </article>
                </section>
            </main>
                <aside>
                    <section class="aside1">
                        <h3>Ponte al día con tu héroe</h3>
                        <br>
                        <p> Nunca es tarde para que te unas a tus amigos en sus últimas aventuras en Shadowlands con la nueva subida de personaje hasta el nivel 60.
                            
                       <hr>
                       
                            <ul class="enlaces">
                            <li><a href="#">Burning Crusade.</a></li>
                            <li><a href="#">Lich King.</a></li>
                            <li><a href="#">Cataclysm.</a></li>
                            <li><a href="#">Mists of Pandaria.</a></li>
   
                        </ul>
                    </section>
                </aside>

                <footer>
                    <p>World of Warcraft</p>
                </footer>
            
       


    </div>
    
</body>
</html>