<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Ejemplo</title>
</head>
<body>

    <div class="contenedor">

        <header>
            <nav>
                <a href="#">Home</a>
                <a href="#">Servicios</a>
                <a href="#">Contactos</a>
            </nav>
        </header>

            <main>
                <div class="imagen">
                    <img src="img/1.jpg" alt="prueba">
                </div>
                <section>
                    <article>
                        <h2>Articulo 1</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet quisquam voluptatem rem assumenda incidunt sunt quaerat debitis quidem adipisci iste nihil in libero, maiores nesciunt qui provident. Consequatur, laudantium sunt! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut accusamus odio autem deleniti qui veniam eius atque non, vitae, ducimus reprehenderit sunt. Facere quibusdam doloribus aperiam similique debitis repellat necessitatibus.</p>
                    </article>

                    <article>
                        <h2>Articulo </h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut accusamus odio autem deleniti qui veniam eius atque non, vitae, ducimus reprehenderit sunt. Facere quibusdam doloribus aperiam similique debitis repellat necessitatibus.</p>
                    </article>
                </section>
            </main>
                <aside>
                    <section class="aside1">
                        <h3>Titulo Aside</h3>
                        <br>
                        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel odio voluptatem explicabo repellendus mollitia dignissimos iusto dolore aliquid, quam magni, numquam rem velit tempore laborum officiis sunt, suscipit tempora possimus.
                            
                       <hr>
                       
                            <ul class="enlaces">
                            <li><a href="#">Enlace Externo 1</a></li>
                            <li><a href="#">Enlace Externo 2</a></li>
                            <li><a href="#">Enlace Externo 3</a></li>
                            <li><a href="#">Enlace Externo 4</a></li>
   
                        </ul>
                    </section>
                </aside>

                <footer>
                    <p>Derechos Reservados</p>
                </footer>
            
       


    </div>
    
</body>
</html>