*{

    margin: 0px;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #EEEBD0;
}

.contenedor{
    background: #EE2677;
    max-width: 1000px;
    margin:20px auto;
    overflow: hidden;
    
}

header{

    background: #EBB3A9;
    width: 100%;
}

 header nav a{

    text-decoration:none;
    width: 100%;
    display: inline-block;
    padding:20px;
    width: 200px;
    color:black;
    font-size:1.2em;
    text-align: center;
 }
header nav a:hover{

    background: #E87EA1;
}

main{
    background: #E87EA1;
    width: 75%;
    float: left;

}
.imagen img{

    width:100%;
    
}

article h2{

color:#B52717;
font-size: 2em;
margin-top: 10px;
margin-bottom: 20px;
padding-left: 15px;
}

article p{
    padding: 15px;
    font-size: 1.2em;
    line-height: 30px;
    text-align: justify;
}

aside{

    background:#EE2677;
    width: 25%;
    float: left;
    line-height: 25px;
}

.aside1 {

    padding: 20px;
    font-size: 1.2em;
    text-align: justify;
}

.enlaces li{

    list-style: none;
    padding: 15px;
}

.enlaces li a {

    text-decoration: none;
    padding: 15px;
    color: #000;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.enlaces li a:hover{

    background: #E87EA1;
}

footer{
    background: #EBB3A9;
    width: 100%;
    float: left;
    font-size: 1.3em;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width:700px)
{
    body{
        font-size:14px;
        background:#000;
    }

    main{
        width: 100%;
    }

    aside{
        width: 100%;
    }
}

@media screen and (max-width:350px) {

    body{
        font-size:12px ;
        background: #EEEBD0;
        
    }

    menu{
        
    }

    aside{
        display: none;
       /* overflow: hidden;*/
    }
    
}
    